<!DOCTYPE html>
<html>
<head>
  <title>Crux</title>
    <link rel='stylesheet' href='../custom.css' />

</head>
<body>
<div id='container'>
{{content}}
</div>
<a href="/raw/{{id}}">Raw</a>
</body>
</html>